$font-stack: 'Open Sans', sans-serif;

.sunlogo{
  height:30px;
}
.navbar-brand{
  padding:10px 10px;
}
body{
  font-family: $font-stack;
  padding-top:70px;
}
.story-img{
  border-bottom: #FF0000 4px solid;
}
h1, h2, h3{
  font-weight:800;
}
.navbar-default{
  background-color:#000;
  .navbar-nav > li > a{
    color:white;
    font-weight:800;
    &:hover{
      color:#ccc;
    }
  }
  .navbar-nav > .active > a{
    background-color:#000;
    color:#666;
    &:hover{
      background-color:#000;
      color:#ccc;
    }
  }
}
.navbar-header, .navbar-brand{
  background-color:white;
}
a{
  color:#000;
  &:hover{
    color:#000;
  }
}
footer{
  background-color:#000;
  margin-top:10px;
  .nav > li > a{
    color: #FFF;
    &:hover{
      background-color:#000;
      color:#666;
    }
  }
}
.ad-container{
  margin-bottom: 20px;
}
